.listContainer {
  margin: 50px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid green; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px;
}

.content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-radius: 8px;
  border: 2px solid rgb(232, 214, 223);
}

.img {
  width: 70px;
  height: 70px;
  margin-right: 30px;
  border: none;
  border-radius: 100%;
  background-color: rgb(208, 211, 211);
}

.diary {
  width: 500px;
}

.date {
  display: flex;
  justify-content: end;
  margin: 5px 0 30px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(134, 21, 77);
}

.textContainer {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border: 2px solid rgb(232, 214, 223);
  border-radius: 8px;
}

.btn {
  margin-top: 30px;
}