.loginContainer {
  margin: 50px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 100px 30px 0px 30px;
  background-color: rgb(241, 236, 238);
  border-radius: 8px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 50px 0 30px;
}

.info input {
  padding: 15px;
  font-size: 12px;
}

.info input:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid rgb(211, 211, 211);
  border-bottom: none;
}

.info input:first-child:focus {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid rgb(184, 103, 144);
}

.info input:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid rgb(211, 211, 211);
}

.info input:last-child:focus {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid rgb(184, 103, 144);
}

.info input:focus {
  outline: none;
}

.btn {
  padding: 13px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgb(184, 103, 144);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}