.container {
  margin: 50px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid green; */
}

.listContainer {
  margin: 20px 10px;
  width: 100%;
  height: 100px;
  border: 2px solid rgb(232, 214, 223);
  border-radius: 8px;
}

.textContainer {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border: 2px solid rgb(232, 214, 223);
  border-radius: 8px;
}