.container {
  margin: 50px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 150px;
  height: 150px;
  margin-bottom: 25px;
  border: none;
  border-radius: 100%;
  background-color: rgb(208, 211, 211);
}

.textArea {
  width: 500px;
  height: 400px;
  padding: 20px 30px;
}

.textArea:focus {
  outline: none;
}

.btn {
  display: flex;
  gap: 10px;
  margin: 40px 20px;
}